* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    padding-top: 50px;
  }
  
  section {
    position: relative;
    width: 100vw;
    height: 800px;
  }

 
/* NAVBAR*/
nav {
  background-color: #142264;
  height: 51px;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
}

.navbar{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999; 
}

.main_container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav .main_container .menu {
  list-style: none;
  position:relative;
  padding: 17px 40px;
  font-size: 15px;
  float: left;
  color: white;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s;
}
nav .main_container .menu:hover {
  background-color: white;
  color: #142264;
}

.logo{
  justify-content: start;
}

.kanan{
  display: flex;
  align-items: center;
}


